@using Procedure.Web.Models
@using Procedure.Web.Extensions
@model WorkPackageDetailViewModel

@if (Model.WorkPackage != null)
{
    <section>
        <div class="container">
            <div class="block--border">
                <h2>@Model.WorkPackage.Title</h2>
                @Html.ActionLink("See Graph", "GraphViz", "WorkPackages", new { id = Model.WorkPackage.Id }, new { @class = "btn--primary" })
                <dl class="list--definition">
                    <dt>Subject to</dt>
                    <dd>@Html.ActionLink(Model.WorkPackage.SubjectTo.Value, "Details", "Procedures", new { id = Model.WorkPackage.SubjectTo.Id }, new { })</dd>
                    @if (!String.IsNullOrEmpty(Model.WorkPackage.WorkPackageableThingURL))
                    {
                        <dt>Work Packagable Thing URL</dt>
                        <dd><a href="@Model.WorkPackage.WorkPackageableThingURL">@Model.WorkPackage.WorkPackageableThingURL</a></dd>
                    }
                    @if (Model.WorkPackage.TripleStoreId != null)
                    {
                        <dt>Graph of orchestrated work package (@(Model.WorkPackage.TripleStoreId))</dt>
                        <dd><a href="http://procedures.azurewebsites.net/workpackagesgraphviz/@(Model.WorkPackage.TripleStoreId)">Live</a> | <a href="http://procedures.azurewebsites.net/workpackagesgraphviz/@(Model.WorkPackage.TripleStoreId)/staging">Staging</a></dd>
                        <dt>Website display</dt>
                        <dd><a href="https://beta.parliament.uk/work-packages/@(Model.WorkPackage.TripleStoreId)" target="_blank">beta</a> | <a href="https://devci.parliament.uk/work-packages/@(Model.WorkPackage.TripleStoreId)" target="_blank">devci</a></dd>
                    }
                </dl>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="block--border__bottom">
                @if (Model.BusinessItems.Any())
                {
                    <h3>Has following business items</h3>
                    <ul class="list--details">
                        @foreach (BusinessItem businessItem in Model.BusinessItems.OrderByDescending(p => p.Date))
                        {
                            <li class="block--transparent">
                                @if (businessItem.ActualisesProcedureStep != null)
                                {
                                    foreach (SharepointLookupItem procedureStep in businessItem.ActualisesProcedureStep)
                                    {
                                        <span><p>@Html.ActionLink(procedureStep.Value, "Details", "Steps", new { id = procedureStep.Id }, new { })</p></span>
                                    }
                                }
                                @if (businessItem.Date.HasValue)
                                {
                                    <span><p>Actualized on: @businessItem.Date.Value.ToString("dd/MM/yyyy") (@businessItem.Date.Value.DayOfWeek)</p></span>
                                }
                                @if (businessItem.Weblink != null)
                                {
                                    <a href="@businessItem.Weblink">@businessItem.Weblink</a>
                                }
                                @if (businessItem.LayingBody != null)
                                {
                                    <span><p>Laying body: @businessItem.LayingBody.Value</p></span>
                                }

                                @if (businessItem.BelongsTo.Count > 1)
                                {
                                    <span><p>This business item also belongs to:</p></span>
                                    <div>
                                        <ul class="list--details">
                                            @foreach (SharepointLookupItem workPackage in businessItem.BelongsTo)
                                            {
                                                if (workPackage.Id != Model.WorkPackage.Id)
                                                {
                                                    <li class="block--transparent">@Html.ActionLink(workPackage.Value, "Details", "WorkPackages", new { id = workPackage.Id }, new { })</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }

                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h3>This work package does not have any business items.</h3>
                }
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            @if (!Model.Tree.IsNullOrEmpty())
            {
                <h3>Has following procedure tree</h3>
                Html.RenderPartial("DetailsRoute", Model.Tree);
            }
            else
            {
                <p> No tree shown because there are no business items or no entry steps (e.g. SI exists) have been defined.</p>
            }
        </div>
    </section>
}
else
{
    <section>
        <div class="container">
            <h3>The item does not exist or has been deleted.</h3>
        </div>
    </section>

}
