@using Procedure.Web.Models
@using System.Linq
@model StepDetailViewModel

@if (Model.Step != null)
{

    <section>
        <div class="container">
            <div class="block--border">
                <h2>@Model.Step.Title</h2>
                <dl class="list--definition">
                    @if (!String.IsNullOrEmpty(Model.Step.Description))
                    {
                        <dt>Description </dt>
                        <dd>@Model.Step.Description</dd>
                    }
                    @if (Model.Step.Houses.Any())
                    {
                        foreach (ProcedureStepHouse House in Model.Step.Houses)
                        {
                            <dd>@House.HouseName</dd>
                        }
                    }
                </dl>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="block--border__bottom">
                @if (Model.Routes.Any())
                {
                    <h3>Present in following routes</h3>
                    <ul class="list--details">
                        @foreach (RouteItem route in Model.Routes)
                        {
                            if ((route.FromStepId == Model.Step.Id) && (route.ToStepId == Model.Step.Id))
                            {
                                <li>@route.FromStepName @route.RouteKind @route.ToStepName</li>
                            }
                            else
                            if (route.FromStepId == Model.Step.Id)
                            {
                                <li>@route.FromStepName @route.RouteKind @Html.ActionLink(route.ToStepName, "Details", "Steps", new { id = route.ToStepId }, new { })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink(route.FromStepName, "Details", "Steps", new { id = route.FromStepId }, new { }) @route.RouteKind @route.ToStepName</li>
                            }
                        }
                    </ul>
                }
                else
                {
                    <h3>Not present in any route</h3>
                }
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            @if (Model.BusinessItems.Any())
            {
                <h3>Actualised by following business items</h3>
                <ul class="list--details">
                    @foreach (BusinessItem businessItem in Model.BusinessItems.OrderBy(p => p.Id))
                    {
                        <li>
                            [@businessItem.AllData()] belonging to
                            @Html.ActionLink(businessItem.WorkPackageName, "Details", "WorkPackages", new { id = businessItem.WorkPackageId }, new { })
                        </li>
                    }
                </ul>
            }
            else
            {
                <h3>Not actualised by any business item</h3>
            }
        </div>
    </section>

}
else
{
    <section>
        <div class="container">
            <h3>The step does not exist or has been deleted.</h3>
        </div>
    </section>
}